body{
    background-color:azure;
    background-image: url("img/null.jpg");
    background-repeat: no-repeat;
    background-attachment: fixed;
    background-size: cover;
}

#map {
    width: 100%;
    height: 550px;
}